<section class="new-training" fxLayout="row" fxLayoutAlign="center center">
  <div class="container" *ngIf="!post; else forminfo" novalidate>

    <mat-card class="example-card">
      <form [formGroup]="formGroup" (ngSubmit)="submit(form.value)" class="form">

        <mat-form-field class="form-element">
          <mat-hint>Describe Your Professional Certifications</mat-hint>
          <textarea matInput placeholder="Professional Certifications" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" formControlName="description" #textCount></textarea>

          <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
            Required field, must be between 5 and 400 characters.
          </mat-error>
        </mat-form-field>
        <span style="text-align: right;font-size: 10px;margin-left:400px;margin-bottom:20px ">{{textCount.value.length}}
          of 400 characters</span>
          <br>
          <h3 style="color: indigo">Add Your skills... </h3>
          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Skill Selection" formControlName="skills">
                <mat-chip
                  *ngFor="let fruit of fruits"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="New Skills..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!formGroup.controls['skills'].valid && formGroup.controls['skills'].touched">
                  You Must have Minimum Three Skills set.
                </mat-error>
            </mat-form-field>
        <br><br>
        <div style="margin-top:20px; margin-left:200px">
          <a routerLink="/about" class="previous"><button [disabled]="!formGroup.valid" class="button2">&laquo;
              Previous</button></a>&nbsp;&nbsp;&nbsp;
          <a routerLink="/avail" class="next"><button [disabled]="!formGroup.valid" class="button1"> Next
              &raquo;</button></a>
        </div>
        <h6 *ngIf="!formGroup.valid" style="color: red;">Form is not completed </h6>
        <h6 *ngIf="formGroup.valid" style="color: green;">Form is completed.. Click on Next </h6>
      </form>
    </mat-card>
  </div>
</section>