<section class="new-training" fxLayout="row" fxLayoutAlign="center center">
  <div class="container" *ngIf="!post; else forminfo" novalidate>

    <mat-card class="example-card">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <mat-form-field class="form-element">
          <input matInput placeholder="Email Address" formControlName="email">
          <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            
          <input matInput placeholder="First Name" formControlName="name">
          <mat-error *ngIf="!name.valid && name.touched">
            {{ titleAlert }}
          </mat-error>
        </mat-form-field>



        <mat-form-field class="form-element">
          <input matInput placeholder="Password" formControlName="password">
          <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
          <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
            {{ getErrorPassword() }}
          </mat-error>
        </mat-form-field>

        <!-- <div class="form-element">
      <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>
    </div> -->
        <mat-form-field class="form-element">
          <input matInput placeholder="Phone number" formControlName="PhoneNumber" [errorStateMatcher]="matcher"
            [(ngModel)]="PhoneNumber" [required]="name=='ram'" maxlength="10">
          <mat-hint>Enter Ten Digit Number!</mat-hint>
          <mat-error *ngIf="formGroup.get('PhoneNumber').hasError('required')">
            Phone number is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="!formGroup.get('PhoneNumber').hasError('required') &&formGroup.get('PhoneNumber').hasError('pattern')">
            Please enter valid mumber
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
            formControlName="description" #textCount></textarea>

          <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
            Required field, must be between 5 and 400 characters.
          </mat-error>
        </mat-form-field>
        <span style="text-align: right;font-size: 10px;margin-left:400px;margin-bottom:20px ">{{textCount.value.length}}
          of 400 characters</span>


        <div class="row">
          <div class="col-4">
            <mat-form-field class="form-element">
              <input matInput placeholder="Year of Experience" formControlName="exp">
             
            </mat-form-field> 
          </div>
          <div class="col-4">
          <mat-form-field class="form-element">
              <input matInput placeholder="Website/Portfolio" formControlName="portfolio" required>
             
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="form-element">
              <input matInput placeholder="Current Location" formControlName="loc" required #loc>
          
            </mat-form-field>
          </div>
        </div>
        <img [src]="url" height="200"> <br /><br>


        <input type='file' accept="image/gif, image/jpeg" (change)="onSelectFile($event)" >

       
       <br><br>
          <!-- <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
            Form</button> -->
           <div style="margin-top:20px; margin-left:140px" >
              <a href="#" class="previous" ><button [disabled]="!formGroup.valid" class="button2">&laquo; Previous</button></a>&nbsp;&nbsp;&nbsp;
              <a routerLink="/skills" class="next"  ><button [disabled]="!formGroup.valid" class="button1"> Next &raquo;</button></a>
              </div>
              <h6 *ngIf="!formGroup.valid" style="color: red;">Form is not completed </h6>
              <h6 *ngIf="formGroup.valid" style="color: green;">Form is completed.. Click on Next  </h6>
      </form>
    </mat-card>

  </div>


</section>