<section class="new-training" fxLayout="row" fxLayoutAlign="center center">
  <div class="container">
    <mat-card class="example-card">
      <form [formGroup]="formGroup">


        <span><b>Availbility</b></span>
        <div class="form-group" style="margin-top: 1px ;margin-bottom: -30px;height: 32px;margin-left:30px">
          <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a Start date"
              name="startDate" [(ngModel)]="startDate" class="form-control" matNativeControl required
              (onChange)="getStartDate($event.target.value)" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="form-group" style="padding-left:1cm; margin-left: 229px;">

          <mat-form-field class="example-full-width1">
            <input matInput [min]="startDate" [max]="maxDate1" [matDatepicker]="picker1"
              placeholder="Choose an End date" name="endDate" [(ngModel)]="endDate" class="form-control"
              matNativeControl required [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        </div>
        <span><b>Salary Expectation</b> <b> ${{" "+gridsize.value}}</b></span><br>
        <mat-slider #gridsize (change)="updateSetting($event)" step="5" min="10" max="1000" [value]="gridsize">
        </mat-slider>

        <br><br>
        <span><b>Countries of Interest</b></span>
        <div class="auto-width" style="margin-left:290px;margin-top:-50px">
          <mat-form-field>

            <mat-select [(value)]="selected" formControlName="country">
              <mat-option>None</mat-option>
              <mat-option value="India">India</mat-option>
              <mat-option value="UK">UK</mat-option>
              <mat-option value="Ireland">Ireland</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <br><br>
        <span><b>Preferred Position </b></span>
        <div class="auto-width" style="margin-left:290px;margin-top:-50px">
          <mat-form-field>

            <mat-select [(value)]="selected1" formControlName="jobs">
              <mat-option>None</mat-option>
              <mat-option value="Software Developer ">Software Developer </mat-option>
              <mat-option value="Software Tester">Software Tester</mat-option>
              <mat-option value="Software Designer">Software Designer</mat-option>
              <mat-option value="Software Analyst">Software Analyst</mat-option>
              <mat-option value="Software Engineer">Software Engineer</mat-option>
            </mat-select>

          </mat-form-field>
        </div><br>
        <span><b>Visa Sponsorship Required </b></span>
        <table style="margin-left: 320px; margin-top:-30px">
          <tr>
            <td>India</td>
            <td>
              <mat-checkbox formControlName="visa" class="example-margin" name="name" [(ngModel)]="checked1"
                value="yes">YES</mat-checkbox>
            </td>

          </tr>
          <tr>
            <td>UK</td>
            <td>
              <mat-checkbox formControlName="visa" class="example-margin" name="name" [(ngModel)]="checked2"
                value="yes">YES</mat-checkbox>
            </td>

          </tr>
          <tr>
            <td>Ireland</td>
            <td>
              <mat-checkbox formControlName="visa" class="example-margin" name="name" [(ngModel)]="checked3"
                value="yes">YES</mat-checkbox>
            </td>

          </tr>

        </table>
        <span>
          <h5 style="color: rgb(87, 15, 129);">CVUploading your CV will increase your chance to be found by recruiter by
            75% Supported formats: Docx, PDF, maximum ﬁle size 2mb</h5>
        </span>

        <input formControlName="file" type='file' accept="application/pdf,application/msword"
          (change)="onSelectFile($event)">


        <br><br>

        <div style="margin-top:20px; margin-left:140px">
          <a routerLink="/skills" class="previous"><button [disabled]="!formGroup.valid" class="button2">&laquo;
              Previous</button></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="next"><button [disabled]="!formGroup.valid" class="button1"> Submit</button></a>
        </div>
        <h6 *ngIf="!formGroup.valid" style="color: red;">Form is not completed </h6>
        <h6 *ngIf="formGroup.valid" style="color: green;">Form is completed.. Click on Next </h6>


      </form>
    </mat-card>
  </div>
</section>